html {
	background-color : #d1eaee;
    font-size: 60%;
}

body{
     font-family: "Raleway";
     font-size: 1.5em;
     line-height: 1.5;
     color: black;
}

h1, h4 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300;
}

h1 {
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: .1em;
    text-align: center;
}

h4 {
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: .08em;
}

img{
	margin-left: 5px;
	margin-bottom: 5px;
}

@media (min-width: 550px) {
    h1 {
        font-size: 5.0rem;
    }
    h4 {
        font-size: 3.0rem;
    }
}

p {
    margin-top: 0;
		text-align:justify;
}

ol, ul {
  padding-left: 0;
  margin-top: 0;
}

/* -------------------------------------------------*/
/* Style pour la barre de navigation*/
/* -------------------------------------------------*/
nav ul {
	overflow: hidden;
    width: 80%;
    margin: 0px 10%;
    margin-bottom: 10px;
	background-color: rgb(49, 174, 225);
	height : 47px;
	border: 2px solid #9BBFC8;
	outline: 1px solid #000;
}

/* --------------------------------------------------------*/
/* Place les éléments de la barre de navigation*/
/* --------------------------------------------------------*/
nav ul li {
	list-style : none;
    float: left;
    width: 33%;
    padding: 10px 0px;
}

/* -------------------------------------------------------*/
/* Caractéristiques des éléments de la barre de navigation*/
/* -------------------------------------------------------*/
nav ul li a {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
	font-weight : bold;
	font-size : 18px;
}

/* -----------------------------------------------------*/
/* Permet de changer la couleur d'un élément de la barre*/
/* de navigation lorsque que l'on passe la souris dessus*/
/* -----------------------------------------------------*/
nav ul li a:hover {
    color : black;
}

.fix {
    margin-bottom: 35px;
}
/* -------------------------------------------------------*/
/* Caractéristiques des titres des différents blocs */
/* -------------------------------------------------------*/
.top{
	margin-top: 10px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.col {

  width: 100%;
  float: left;
  box-sizing: border-box;
	background-color : white;
	margin-bottom: 20px;

}
.col h4 {
    background-color: rgb(49, 174, 225);
    color: white;
    text-align: center;
    margin: 0;
}

@media (min-width: 400px) {
    .container {
    width: 85%;
    padding: 0;
    }
}

@media (min-width: 1050px) {
  .container {
    width: 90%;
  }
  .col {
    margin-left: 4%;
  }
  .col:first-child {
    margin-left: 0;
  }

  .four.col{
    width: 30%;
  }

  .six.col{
    width: 48%;
  }
  .seven.col{
    width: 55%;
  }
  .eight.col{
    width: 65%;
  }

}


/* -------------------------------------------------------*/
/* Uniformise avec la couleur de fond */
/* -------------------------------------------------------*/
.eleven.col {
	background-color : #d1eaee;
}

/* -------------------------------------------------------*/
/* Centre le texte */
/* -------------------------------------------------------*/
.twelve.col p{
	text-align : center;
}


/* -------------------------------------------------------*/
/* Ajoute de fines bordures noirs aux blocs */
/* -------------------------------------------------------*/
.border{
    border: 2px solid rgb(155, 191, 200);
	outline : 1px solid black;
}

/* -------------------------------------------------------*/
/* Permet de limiter le contenu des blocs pour pas qu'il  */
/* soit collé aux bordures                                */
/* -------------------------------------------------------*/
.container-col {
	width : 80%;
	margin : 0 10%;
    margin-top: 10px;
}

/* ----------------*/
/* Style bouttons  */
/* ----------------*/
input[type="button"] {
  height: 33px;
  padding: 0 35px;
  color: white;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
  background-color: #31AEE1;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
-moz-box-sizing: border-box;
}
.button:hover,
button:hover,
input[type="button"]:hover{
  color: black;
}

/* ---------------------------*/
/* Style pour les formulaires */
/* ---------------------------*/
input[type="email"],
input[type="search"],
input[type="text"],
input[type="password"],
select {
  height: 40px;
  padding: 5px 10px;
  background-color: white;
  border: 1px solid #D1D1D1;
  border-radius: 6px;
  box-sizing: border-box;
   -moz-box-sizing: border-box;
}
input[type="email"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus {
  border: 1px solid #31AEE1;
}
label {
  display: block;
  margin-bottom: .5em;
  font-weight: bold;
}
input[type="checkbox"] {
  display: inline;
}



/* ----------------------*/
/* Style pour le tableau */
/* ----------------------*/
table {border-collapse: collapse;}
tbody tr:hover {
  background: #F1F1F2;
}

th,
td {
  padding: 10px 15px;
  text-align: left;
  border-bottom: 1px solid #D1D1D1; }
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}

/* --------------------------------------------------------------*/
/* Décale les éléments en dessous des éléments cités ci-dessous  */
/* --------------------------------------------------------------*/
p,
table,
form,
ul,
ol {
  margin-bottom: 2em;
}
button {
  margin-bottom: 1em;
}
input,
select {
  margin-bottom: 1.5em;
}

.u-full-width {
  width: 100%;
}
.u-max-full-width {
  max-width: 100%;
}

/* -------------------------------------------------------*/
/* Cache le panier quand l'utilisateur n'est pas connecté */
/* -------------------------------------------------------*/
#logged-title{display:none;}
.logged-reserver{display:none;}

/* -------------------------------------------------*/
/* Style pour l'alerte en cas d'erreur lors du login*/
/* -------------------------------------------------*/
#alert {
    position: relative;
}

#alert:hover {
	color:inherit;
}
#alert:target {
    display: none;
}

a.client:hover:after{
	background: hsla(0,0%,0%,.8);
	border-radius: 3px;
	color: #f6f6f6;
	content: 'S\'inscrire';
	font: bold 12px/30px sans-serif;
	height: 30px;
	left: 50%;
	margin-left: -60px;
	position: absolute;
	text-align: center;
	top: -40px;
	width: 120px;
}

.alert {
    background-color: #c4453c;
    background-size: 20px 20px;
    box-shadow: 0 2px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
		line-height: 30px;
    height: auto;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

.ok {
	background-color: #28c67a;
}
.date {
	width: 100px;
}
/* -------------------------------------------------*/
/* Animation pop down pour alert*/
/* -------------------------------------------------*/

@-webkit-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-moz-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-ms-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@-o-keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
@keyframes alert {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    top: 0;
  }
}
