html {
	background-color : #d1eaee;
}
/* -------------------------------------------------*/
/* Style pour la barre de navigation*/
/* -------------------------------------------------*/
nav ul {
    width: 80%;
    margin: 0px 10%;
	background-color: rgb(49, 174, 225);
	height : 47px;
	border: 2px solid #9BBFC8;
	outline: 1px solid #000;
}

/* --------------------------------------------------------*/
/* Place les éléments de la barre de navigation*/
/* --------------------------------------------------------*/
nav ul li {
	list-style : none;
    float: left;
    width: 33%;
    padding: 10px 0px;
}

/* -------------------------------------------------------*/
/* Caractéristiques des éléments de la barre de navigation*/
/* -------------------------------------------------------*/
nav ul li a {
    color: white;
    text-align: center;
    display: block;
    text-decoration: none;
	font-weight : bold;
	font-size : 18px;
}

/* -----------------------------------------------------*/
/* Permet de changer la couleur d'un élément de la barre*/
/* de navigation lorsque que l'on passe la souris dessus*/
/* -----------------------------------------------------*/
nav ul li a:hover {
    color : black;
}

/* -------------------------------------------------------*/
/* Caractéristiques des titres des différents blocs */
/* -------------------------------------------------------*/
.columns h4 {
    background-color: rgb(49, 174, 225);
    color: white;
    text-align: center;
}

/* -------------------------------------------------------*/
/* Uniformise avec la couleur de fond */
/* -------------------------------------------------------*/
.eleven.columns {
	background-color : #d1eaee;
}

/* -------------------------------------------------------*/
/* Uniformise avec la couleur de fond */
/* -------------------------------------------------------*/
.twelve.columns p{
	text-align : center;
}

/* -------------------------------------------------------*/
/* Definit la couleur du contenu des blocs à blanc */
/* -------------------------------------------------------*/
.columns {
	background-color : white;
}

/* -------------------------------------------------------*/
/* Place le titre du header au centre de la page */
/* -------------------------------------------------------*/
.row h1 {
	text-align : center;
}

/* -------------------------------------------------------*/
/* Ajoute de fines bordures noirs aux blocs */
/* -------------------------------------------------------*/
.border{
    border: 2px solid rgb(155, 191, 200);
	outline : 1px solid black;
}

/* -------------------------------------------------------*/
/* Permet de limiter le contenu des blocs pour pas qu'il  */
/* soit collé aux bordures                                */
/* -------------------------------------------------------*/
.container-col {
	width : 80%;
	margin : 0 10%;
}
/* -------------------------------------------------------*/
/* Cache le panier quand l'utilisateur n'est pas connecté */
/* -------------------------------------------------------*/
#logged-title{display:none;}
.logged-reserver{display:none;}

/* -------------------------------------------------*/
/* Style pour l'alerte en cas d'erreur lors du login*/
/* -------------------------------------------------*/
#alert {
    position: relative;
}

#alert:hover {
	color:inherit;
}
#alert:target {
    display: none;
}

a.client:hover:after{
	background: hsla(0,0%,0%,.8);
	border-radius: 3px;
	color: #f6f6f6;
	content: 'S\'inscrire';
	font: bold 12px/30px sans-serif;
	height: 30px;
	left: 50%;
	margin-left: -60px;
	position: absolute;
	text-align: center;
	top: -40px;
	width: 120px;
}

.alert {
    background-color: #c4453c;
    background-size: 20px 20px;
    box-shadow: 0 2px 0 hsla(0,0%,0%,.1);
    color: #f6f6f6;
    display: block;
    font: bold 16px/40px sans-serif;
		line-height: 30px;
    height: auto;
    position: absolute;
    text-align: center;
    text-decoration: none;
    top: -45px;
    width: 100%;
    -webkit-animation: alert 1s ease forwards;
       -moz-animation: alert 1s ease forwards;
        -ms-animation: alert 1s ease forwards;
         -o-animation: alert 1s ease forwards;
            animation: alert 1s ease forwards;
}

.ok {
	background-color: #28c67a;
}
.date {
	width: 100px;
}
/* -------------------------------------------------*/
/* Animation pop down pour alert*/
/* -------------------------------------------------*/

@-webkit-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-moz-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-ms-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@-o-keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
@keyframes alert {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { top: 0; }
}
